<div class="index-box">
    <form class="form-horizontal" id="index-form" action="/query">
        <div class="form-group">
            <label for="inputsql" class="col-sm-2 control-label">选择实例</label>
            <div class="col-sm-10">
                <select id="host-selector" name="host"class="form-control width200">
                    <?php foreach($mysqlHost as $k=>$h){?>
                    <option value="<?php echo $k;?>"><?php echo $h['name'];?></option>
                    <?php }?>
                </select>
            </div>
        </div>
  <div class="form-group">
            <label for="inputsql" class="col-sm-2 control-label">选择数据库</label>
            <div class="col-sm-10">
                <select id="db-selector" name="dbname"class="form-control width200">
                     <?php foreach($databases as $db){?>
                     <option value="<?php echo $db['Database'];?>"><?php echo $db['Database'];?></option>
                    <?php }?>
                </select>
            </div>
        </div>

 <div class="form-group">
            <label for="inputsql" class="col-sm-2 control-label">SQL</label>
            <div class="col-sm-10">
                <textarea name="sql"rows=5 class="form-control"placeholder="只支持select和show语句,select最大行数<?php echo $rowMax;?>"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">查询</button>
            <p class="action-btns">
  <button sql="SHOW PROCESSLIST;" type="button"id="show-processlist" class="btn btn-primary">查看当前进程</button>
  <button sql="SHOW VARIABLES;" id="show-variables"type="button" class="btn btn-primary">查看设置</button>
  <button sql="SHOW STATUS;" id="show-status" type="button" class="btn btn-primary">查看置状态</button>
  <button sql="explain %s;" id="show-explain" type="button" class="btn btn-primary">show explain</button>
  <button sql="set profiling=1;%s;show profile for query 1;" id="show-query-profile" type="button" class="btn btn-primary">show query profile</button>
</p>
            </div>
        </div>
    </form>
</div>

<div class="result-box clearfix" style="display:none">
    <p class="result-title alert-success">
        执行成功
    </p>
    <pre class="result-sql">
        <code class="sql"> select * from my.mye where ssas="ss" limit 1;</code>
    </pre>
    <div class="result-main"> 
        <table class="table table-striped">
            <thead>
           </thead>
            <tbody>
           </tbody>
        </table>
    </div>
</div>


