<!DOCTYPE html>
<html>
    <head>
        <title>
           数据库查看
        </title>
        <meta charset="utf-8">
        <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        <link href="/assets/css/index.css" rel="stylesheet">
        <link href="/assets/css/solarized-dark.css" rel="stylesheet">
        <script src="//cdn.bootcss.com/jquery/2.2.0/jquery.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
        <script src="/assets/js/index.js"></script>
    </head>
    <body>
    <?php echo $content;?>
   </body>
</html>
