<!-- Login Screen -->
<div class="login-box">
     <div class="login-wrapper">
         <form action="/login" method='post'>
             <div class="form-group">
                 <div class="input-group">
                     <span class="input-group-addon"><i class="icon-user"></i></span><input class="form-control" placeholder="用户名/邮箱" name="username"type="text" autofocus>
                 </div>
             </div>
             <div class="form-group">
                 <div class="input-group">
                     <span class="input-group-addon"><i class="icon-lock"></i></span><input class="form-control" placeholder="密码" type="password" name="password">
                 </div>
             </div>
             <div class="form-group">
                 <div class="input-group">
                     <span class="input-group-addon"><i class="icon-map-marker"></i></span>
                     <select class="form-control" name="zone">
                     	<option value="Beijing">北京</option>
                     	<option value="Guangzhou">广州</option>
                     </select>
                 </div>
             </div>
             <div class="text-left">
                 <?php if($loginError){ ?>
                 <div class="alert alert-warning" role="alert"><?php echo $loginError; ?></div>
                 <?php } ?>
             </div>
             <input class="btn btn-lg btn-primary btn-block" type="submit" value="登录">
         </form>
     </div>
 </div>
